@import "_vars";
@import "_normalize";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@700;900&display=swap');



// GENERAL

.colored_text{
  color: $orange_color;
}

.bg-gradient {
  background: linear-gradient(to bottom, #FB9333, #FFC17C);
}
// HEADER

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  max-width: 1170px;
  margin: 0 auto;
  padding: 46px 20px;

  &__logo{
    font-family: $logo_font;
    font-size: 1rem;
    font-weight: 700;
    color: $main_color;

  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $main_font;

    font-size: 0.8rem;
    font-weight: 500;
    
    &-list {
      display: flex;
      list-style: none;
      gap: 70px;
      margin: 0;
      padding: 0;
    }

    &-link {
      color: $main_color;
    
    }

    &-item:hover{
      transform: scale(1.2)
    }
    
    &-link:hover{
      color: $orange_color;
    }

  }

  &__signin_btn{
    padding: 24px 32px;
    width: 130px;
    height: 54px;
    font-weight: 600;

    @media screen and (max-width: 820px) {
      width: 49px;

    }
  }
  
}

// HAMBURGER

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: $orange_color;
}

@media(max-width: 820px){
  .hamburger{
    display: block;
  }
 .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
 .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
 .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
 .header__nav-list{
    position: fixed;
    left: -100%;
    top: 34px;
    gap: 0;
    flex-direction: column;
    background-color: $main_color;
    
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
 .header__nav-item{
    margin: 16px 0;
  }

  .header__nav-link {
    color: white;
  }

 .header__nav-list.active{
    left: 0;
  }

  .header :nth-child(1) { 
    order: 2; 
  }
    
  .header :nth-child(2) { 
    order: 1; 
  }
  .header :nth-child(3) { 
    order: 2; }
}

// SECTION HOME

main{
  max-width: 1170px;
  margin: 0 auto;
}

.home {
  display: flex;
  align-items: center;
  
  margin: 0 auto;
  padding-top: 80px;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    padding-top: 0px;
  }
  
  &__text_block {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (max-width: 1200px) {
      align-items: center;
      text-align: center;
      width: calc(100% - 50px);
      gap: 30px;
    }
  }

  &__txt_bubble{
    padding: 16px;
    width: 213px;
    height: 53px;
    background: #FFF0DC;
    color: $orange_color;

    font-family: $main_font;
    font-weight: 600;
    font-size: 0.8rem;
    font-style: normal;
    line-height: 130%;
  }

  &__title {
    font-family: $main_font;
    color: $main_color;
    font-weight: 800;
    font-size: 3.3rem;
    line-height: 93.6px;

    @media screen and (max-width: 1200px) {
      font-size: 2.7rem;
      line-height: 60px;
    }
  }

  &__sub_title {
    font-family: $main_font;
    color:#828282;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 32px;

    @media screen and (max-width: 1200px) {
      font-size: 1rem;
      line-height: 19px;
    }
  }

  &__order_btn{
    width: 192px;
    height: 68px;
    font-weight: 600;
  }


  &__info_block{
    display: flex;
    gap: 52px;
    font-family: $main_font;
    color: $main_color;
    padding-top: 50px;

    &-item--number{
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 160%;
    }

    &-item--label{
      font-weight: 500;
      font-size: 0.8rem;
      line-height: 160%;
      color: #828282;
    }
  }

  &__images{
    position: relative;

    &_woman{
      @media(max-width: 820px){
       width: 400px;
      }
    }

    &_rectanglebg{
      z-index: -1;
      position: absolute;
      top: 144px;
      left: 50px;

      @media(max-width: 820px){
       display: none;
      }
    }

    &_heartbox{
      position: absolute;
      left: 545px;

      @media(max-width: 820px){
        display: none;
      }
    } 

    &_happycustomer{
      position: absolute;
      top: 567px;
      left: -41px;

      @media(max-width: 820px){
        display: none;
      }
    }

    &_calories{
      position: absolute;
      right: 56px;
      top: 557px;

      @media(max-width: 820px){
        display: none;
      }
    }
  }
}


.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }
}

// ABOUT US SECTION

.heading {
  font-family: $main_font;
  color: $main_color;
  font-style: normal;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 140%;
  
  @media screen and (max-width: 1200px) {
    font-size: 2.3rem;
  }

  @media screen and (max-width: 820px) {
    font-size: 1.7rem;
  }

  @media screen and (max-width: 820px) {
    font-size: 1.2rem;
  }
}

.aboutus__textblock{
  display: flex;
  align-items: center;
  gap: 50px;

  margin: auto;
  padding-top: 130px;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% - 50px);
    padding-top: 70px;
    gap:5px; 
  }

  &_info{
    font-family: $main_font;
    color: $main_color;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 180%;
    width: 509px;
    
    @media screen and (max-width: 1200px) {
      font-size: 1rem;
      width: 356px;
    }
  }
}

.aboutus__cards{
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  margin-bottom: 100px;

  @media screen and (max-width: 1200px) {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
  }
  @media(max-width: 820px){
    flex-direction: column;
  }
}

.aboutus__card{
  width: 363.33px;
  height: 467.47px;
  background: #FFFFFF;
  border: 1px solid #FFF0DA;
  border-radius: 50px;
  padding: 30px;

  display: flex;
  flex-direction: column;

  position: relative;
  box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  @media screen and (max-width: 1200px) {
    width: 227.33px;
    height: 327.47px;
    align-items: center;
  }

  &::after{
    content: "";
    border-radius: 50px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  &:hover::after{
    opacity: 1;
  }

  &-icon{
    height: 122px;
    width: 122px;
    
    @media screen and (max-width: 1200px) {
      height: 100px;
      width: 100px;
    }
  }

  &-title{
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 180%;
    padding-top: 70px;

    @media screen and (max-width: 1200px) {
      font-size: 0.8rem;
      padding-top: 10px;
    }
  }

  &-info {
    font-family: $main_font;
    color: $main_color;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 180%;
    padding-top: 15px;

    @media screen and (max-width: 1200px) {
      font-size: 0.8rem;
      padding-top: 10px;
      font-size: 0.6rem;
      text-align: center;
    }
  }

  &-btn{
    margin-top: 15px;
    gap: 10px;
    width: 170px;
    height: 49px;
    background: transparent;
    border-radius: 100px;
    border-color: transparent;

    font-family: $main_font;
    color: $main_color;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 180%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

}

.aboutus__card:hover .aboutus__card-btn,
.aboutus__card-btn:hover {
  background-color: orange;
  color: white;
  justify-content: center;
  cursor: pointer;
}

html {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: #fff;
	color: #333
}

// Courusel 

.carousel {
  // min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
	padding: 30px;

  &__text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    &_small{
      font-family: $main_font;
      color: $main_color;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 150%;

      padding: 40px 30px;

      max-width: 700px;
    }
  }
}

.slider {
	display: block;
	height: 100%;
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	position: relative;
}

.slide {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.slide-img {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	padding: 40px;
	background-image: url(../assets/img/Rectangle\ bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.slide-text {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(../assets/img/bg.png);
	background-repeat: no-repeat;
	background-size: 80px;
	background-position: top center;
}

.testimonial-text {
	font-weight: 300;
	font-size: .9rem;
	line-height: 1.1rem;
	color: $main_color;
  font-family: $main_font;
  background-color: #faebd782;
  padding: 10px;
  border-radius: 14px;  
}

.author-text {
	color: $main_color;
	font-size: .9rem;
	font-weight: 700;
  font-family: $main_font;
  margin: 0;
}

.author-text span {
	color: $orange_color;
	font-weight: 500;
	display: block;
}

.slide-img img {
	height: 100%;
	width: 300px;
}

.prev,
.next {
	display: inline-block;
	width: 50%;
	height: 100%;
	position: absolute;
	cursor: pointer;
}

.prev:hover,
.next:hover {
	background-color: $orange_color;
}

.buttons {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 315px;
	width: 90px;
	height: 45px;
	box-shadow: -20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
	border-radius: 50px;
	background-color: white;
	overflow: hidden;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

.next::after,
.prev::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

.next::after {
	background-image: url(../assets/img/icon-next.svg);
}

.prev::after {
	background-image: url(../assets/img/icon-prev.svg);
}

@media only screen and (min-width: 768px) {
	.slide {
		flex-direction: row;
		text-align: left;
	}
	.slide-text {
		background-position: 10% top;
		background-size: 100px;
		align-items: flex-start;
	}
	.slide-img {
		margin-left: -100px;
		z-index: -1;
	}
	.slide-img img {
		width: 400px;
	}
	.buttons {
		top: 415px;
		transform: translate(0);
		left: calc(100% - 400px);
	}
}

@media only screen and (max-width: 400px) {
	.slide-img img {
		width: 200px;
	}
	.slide-img {
		padding: 10px;
	}
	.buttons {
		top: 180px;
	}
}

// MENU SECTION

.discounts {
  &__title{
    text-align: center;
    max-width: 700px;
    margin: 50px auto;

    &_heading{
      margin: 0 auto;
      @media screen and (max-width: 820px) {
        font-size: 1.2rem; 
      }
    }

    &_suptext{
      font-family: $main_font;
      color: $orange_color;
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 180%;
      margin-top: 141px;

      @media screen and (max-width: 820px) {
        font-size: .8rem;
        margin-top: 30px;
      }
    }
  }
}

.dicounts__cards{
  display: flex;
  gap: 40px;

  @media screen and (max-width: 1200px) {
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.dicounts__cards_item {
  position: relative;
  max-width: 363px;
  width: 100%;

  &-title{
    position: absolute;
    top: 400px;
    left: 39px;
    color: white;

    &--name{
      font-family: $main_font;
      font-style: normal;
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 130%;
    }

    &--price{
      font-family: $main_font;
      font-style: normal;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 130%;
    }
  }

  &-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  
    width: 363px;
    height: 521px;
    border-radius: 40px;
    border: 1px solid #FFF0DA;
  }
  
  &-recipie {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}

.dicounts__cards_item:hover .dicounts__cards_item-img {
  opacity: 0.3;
}

.dicounts__cards_item:hover .dicounts__cards_item-recipie {
  opacity: 1;
}

.salad1{
  background-image: url(../assets/img/salad4.jpeg);
  background-size: cover;
  background-position: center; 
}

.salad2{
  background-image: url(../assets/img/salad5.jpeg);
  background-size: cover;
  background-position: center; 

}

.salad3{
  background-image: url(../assets/img/salad6.jpeg);
  background-size: cover;
  background-position: center; 
}

.subscribe {
  margin-top: 150px;
  padding-top: 50px;
  padding-bottom: 100px;

  background-color: #FFF1DE;
  background-image: url(../assets/img/bg_subscribe.png);
  border-radius: 40px;
  border: 1px solid #FFF0DA;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1200px) {
    max-width: 800px;
    margin: 40px auto;
  }

  @media screen and (max-width: 820px) {
    max-width: 391px;
    padding: 18px;
    height: 509px;
  }

  &__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &_suptitle{
      font-family: $main_font;
      color: $orange_color;
      font-style: normal;
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 180%;
    }

    &_title{
      max-width: 655px;

      font-family: $main_font;
      color: $main_color;
      font-style: normal;
      font-weight: 600;
      font-size: 2.6rem;
      line-height: 140%;

      @media screen and (max-width: 820px) {
        font-size: 2.2rem;
    
      }

      @media screen and (max-width: 820px) {
        font-size: 1.7rem;
    
      }
    }

    &_subtitle{
      max-width: 580px;
      font-family: $main_font;
      color: $main_color;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;

      margin-top: 30px;
    }
  }
}

.banner__searchbar {
  position: relative;

  &_input{
    width: 700px;
    height: 80px;
    padding: 10px 8px 10px 31px;;
    font-family: $main_font;
    color: $main_color;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 140%;
    letter-spacing: 0.2em;

    border-radius: 100px;
    border: transparent;

    margin-top: 100px;

    @media screen and (max-width: 820px) {
      width: 325px;
      margin-top: 50px;
    }
  }
  
  &_btn{
    position: absolute;
    width: 170px;
    height: 64px;
    right: 10px;
    top: 108px;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 20px;
    letter-spacing: 0.1em;

    @media screen and (max-width: 820px) {
      width: 150px;
      right: 88px;
      top: 148px;
    }

    &-img{
        padding-right: 10px;
    }

    &:hover{
        background-color: orange;
    }    
  }   
}

.footer{
  display: flex;
  justify-content: center;

  max-width: 1170px;
  margin: 160px auto;
  margin-bottom: 20px;
  gap: 165px;

  @media screen and (max-width: 1200px) {
    gap: 42px;
  }

  @media screen and (max-width: 820px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px auto;
  }

  &__box{
    display: flex;
    flex-direction: column;
  }

  &__info {
    font-family: $main_font;
    color: $main_color;
    font-style: normal;
    font-weight: 400;
    font-size: .8rem;
    line-height: 160%;
    max-width: 171px;
    padding-top: 20px;
  }

  &__copyright{
    padding-top: 50px;
    color: $main_color;
    font-family: $main_font;
    color: $main_color;
    font-style: normal;
    font-weight: 400;
  }
}

.footer__nav_title{
  font-family: $main_font;
  color: $orange_color;
  font-style: normal;
  font-weight: 600;
  font-size: .8rem;
  line-height: 22px;
}

.footer__nav_list{
  font-family: $main_font;
  color: $main_color;
  font-style: normal;
  font-weight: 600;
  font-size: .8rem;
  line-height: 22px;

  &-item{
    padding-top: 21px;

    &--link{
      font-family: $main_font;
      color: $main_color;
      font-style: normal;
      font-weight: 400;
      font-size: .8rem;
      line-height: 150%;

      &:hover{
        color: $orange_color;
      }

    }
  }
}

.footer__contacts{
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 820px) {
    align-items: center;
  }

  &_title{
    font-family: $main_font;
    color: $orange_color;
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 22px;
  }

  &_item{
    display: flex;
    padding-top: 23px;
    gap: 10px;

    &-text{
      font-family: $main_font;
      color: $main_color;
      font-style: normal;
      font-weight: 400;
      font-size: .8rem;
      line-height: 150%;
    }
  }
}


.footer__icons{
  display: flex;
  flex-direction: column;
&_nav{
  &-menu{
    display: flex;
    gap: 15px;
  }
}

.icon__scale:hover {
 transform: scale(1.2) ;
  
}

&_text{
  font-family: $main_font;
  color: $main_color;
  font-style: normal;
  font-weight: 400;
  font-size: .8rem;
  line-height: 150%;
  padding-top: 15px;
}
}

// Sign in

.sign__input-text[type=text], .sign__input-password[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }

  button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FB9333;
  font-family: $main_font;
  color: $btn_txt_color;
  border-radius: 100px;
  border-color: transparent;
  cursor: pointer;
  &:hover{
    background-color: orange;
  }
  padding: 24px 32px;
  width: 130px;
  height: 54px;
  font-weight: 600;

  @media screen and (max-width: 820px) {
    width: 49px;

  }

  }

  button:hover {
  opacity: 0.7;
  }

  .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  }

  .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  }
  .container {
  padding: 16px;

  }

  .containerbg{
    background: #FFF0DC;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

  }
  span.psw {
  float: right;
  padding-top: 16px;
  }

  .modal {

  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
  }

  .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
  border-radius: 15px;
  }
  .close {
  position: absolute;
  right: 25px;
  top: 0px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  }
  .close:hover, .close:focus {
  color: red;
  cursor: pointer;
  }
  .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
  }
  @-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0);}
  to {-webkit-transform: scale(1);}
  }
  @keyframes animatezoom {
  from {transform: scale(0);}
  to {transform: scale(1);}
  }
  @media screen and (max-width: 300px) {
  span.psw {
  display: block;
  float: none;
  }
  .cancelbtn {
  width: 100%;
  }
  }

